@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
  margin: 0;
  background-color: var(--offWhite);
}

* {
  box-sizing: border-box;
}

:root {
  --offWhite: #edf2f4;
  --darkNavy: #2f0a85;
  --navy: #3a0ca3;
  --darkCrimson: #d90429;
  --crimson: #ef233c;

  --grey: #8d99ae;
  --greyOpaque: rgba(141, 153, 174, 0.15);
  --offBlack: #2b2d42;

  --gradientOne: linear-gradient(
    177deg,
    rgba(186, 106, 99, 1) 0%,
    rgba(162, 149, 169, 1) 100%
  );
}
