@font-face {
  font-family: "Poppins Regular";
  src: url("/fonts/Poppins/poppinsregular.woff") format("woff"),
    url("/fonts/Poppins/poppinsregular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins Medium";
  src: url("/fonts/Poppins/Poppins-Medium.woff") format("woff"),
    url("/fonts/Poppins/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Yeseva One";
  src: url("/fonts/YesevaOne/yesevaoneregular.woff") format("woff"),
    url("/fonts/YesevaOne/yesevaoneregular.woff2") format("woff2");
  font-weight: normal;
}

body {
  margin: 0;
  background-color: var(--offWhite);
}

* {
  box-sizing: border-box;
}

:root {
  --offWhite: #edf2f4;
  --darkNavy: #2f0a85;
  --navy: #3a0ca3;
  --darkCrimson: #d90429;
  --crimson: #ef233c;

  --grey: #8d99ae;
  --greyOpaque: rgba(141, 153, 174, 0.15);
  --offBlack: #2b2d42;

  --gradientOne: linear-gradient(
    177deg,
    rgba(186, 106, 99, 1) 0%,
    rgba(162, 149, 169, 1) 100%
  );
}
